In [13]:
%pip install -q pandas

import numpy as np
import pandas as pd

df = pd.read_csv("./real_estate_data.csv", sep="\t")

df.head()

df.info()

Note: you may need to restart the kernel to use updated packages.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
df["is_apartment"].head()
#NaN заразный, если он есть в столбце, тогда весь столбец станец object

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: is_apartment, dtype: object

In [17]:
print(f'{1 -(len(df.dropna(subset=["is_apartment", "ceiling_height"])) / len(df)):.2%}%')
#:.2%, число говорит количество значений, которые надо будет указывать в точности

92.14%%

In [18]:
_df['is_apartment'] = np.where(df['is_apartment'].isna(), False, True)

NameError: name '_df' is not defined