In [1]:
# %pip install -q requests
# %pip install bs4

# import requests
# from bs4 import BeautifulSoup

In [2]:
# url="https://quotes.toscrape.com/"
# page = requests.get(url)
# soup = BeautifulSoup(page.content)
# print(soup)

#сайты, которые заполняются с js
#библиотека Selenium
#промежуточный элемент между браузером и кодом - веб драйвер для chrome и mozilla firefox
#обратите внимание - если для firefox он гибкий, chrome очень чувствителен к версии браузера
#безголовый браузер - работает фоном
#файлы docs лучше всего открывать win32doc 
#МВ рекомендует покопаться в разархивацией docx

In [3]:
import numpy as np
import pandas as pd

data = pd.read_csv('logs.csv', encoding='utf-8')
data.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [4]:
data.isna().sum()
data['user_id'].value_counts()

data['purchase'] = data['purchase'].astype(bool)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 4.8+ MB

In [5]:
data['purchase'].value_counts()
data.isna().sum()
data[data['source'].isna()]

           user_id source       email  purchase
22      1397217221    NaN  79ac569f0b     False
49      5062457902    NaN  9ddce3a861     False
171     6724868284    NaN  c0e48c7cf8     False
258     3221384063    NaN  7fe8da1823     False
379     7515782311    NaN  462462af10     False
...            ...    ...         ...       ...
199342  3439213943    NaN  7edda4e2a4     False
199661  9473123762    NaN  3535509f51     False
199689   722485056    NaN  470ffa3800     False
199709  5950023506    NaN  0fb749d485     False
199758  3747926428    NaN  604850216f     False

[1674 rows x 4 columns]

In [6]:
data['source'] = data['source'].replace('None', None)
data['source'] = data['source'].replace('undef', None)
data['purchase'].value_counts()

purchase
False    187897
True      12103
Name: count, dtype: int64

In [7]:
data_gb_ui = data.groupby('user_id')['purchase'].sum()
data_gb_ui.sort_values(ascending=False)
total_installs = data.shape[0]
total_purchase = data['purchase'].sum()
total_conversion = total_purchase / total_installs

In [8]:
avoid_n = 0
unique_install = data_gb_ui.shape[0]
unique_conversion = total_conversion = total_purchase / total_installs
unique_purchases = (pd.DataFrame(data_gb_ui).query('purchase != @avoid_n').shape[0])

In [9]:
avoid_n = 0
unique_install = data_gb_ui.shape[0]
unique_conversion = total_conversion = total_purchase / total_installs
unique_purchases = (pd.DataFrame(data_gb_ui).query('purchase != @avoid_n').shape[0])

In [10]:
print (unique_conversion)

0.060515